<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Book list</title>
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Price</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.author}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.category.name}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.publicationYear}"></td>
			<td th:text="${book.price + '€'}"></td>
			<td><a class ="btn btn-danger" th:href="@{/delete/{isbn}(isbn=${book.isbn})}">Delete</a></td>
			<td><a th:href="@{/edit/{isbn}(isbn=${book.isbn})}">Edit</a></td>
		</tr>
	</table>
	<a href="/add" class="btn btn-success">Add book</a>
</body>
</html>